// Buttons —————————————————————————————————————————————————————————————

%button {
  appearance: none;
  border: 1px solid transparent;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  line-height: (20/16);
  text-align: center;
  transition: border-color 0.1s, background-color 0.1s, box-shadow 0.1s;

  &:focus,
  &:hover {
    outline-offset: 0;
    text-decoration: none;
  }

  &[disabled] {
    pointer-events: none;

    > * {
      opacity: (3/5);
    }
  }
}

button,
.button {
  @extend %button;
}
