// Layout ——————————————————————————————————————————————————————————————

:root {
  --layout-measure: #{em(640)};
  --layout-base: calc(100% - 2rem);
}

.layout {
  width: var(--layout-base);
  max-width: var(--layout-measure);
  margin: 0 auto;
  padding-right: env(safe-area-inset-right);
  padding-left: env(safe-area-inset-left);
}
